
@{
    ViewBag.Title = "IAboutus";
}

<div>
    <!--Nav                -->


    <div class="about-area   cover" style="        background-image: url('../../image/11.jpg'); background-repeat: no-repeat;   background-size: cover; ">
        <div class="container" style="height:70%">

            <div class="row" style="height:80%; margin-bottom:9%; margin-top:5%; margin-left: 0%; ; ">
                <div class="col-lg-7 row3" id="row2">

                    <div class="about-text2  reserv" style=" padding-left: 30px; padding-bottom:5%; padding-top:3%; background: rgba(37, 34, 42, 0.70); padding-right: 30px; margin-left: 2%px;">
                        <h2 style="color:white; padding-left:30%; " class="logtext">About Us </h2>
                        <p style="color: aliceblue; padding-left:-0px; font-size: 17px; ">
                            The community’s environment has turned at the present time to “dry cities” that rarely enjoy
                            greenery and afforestation, as in the past the design of buildings was based on so-called
                            “balconies”, which are used by some as an outlet for the people of the apartments,and decorated
                            with bushes and roses, which gives a touch Aesthetic and softening the atmosphere and reduces the heat.
                            The new designs of homes, especially with the remarkable development in the style
                            of furniture and floors, contributed to reducing the percentage of green space inside
                            the house, which made some "housewives" rely on "agricultural seedlings", which do not
                            require any effort with cleaning, irrigation or care, which confirms. The lack of
                            culture regarding the importance of plants, which requires community members to realize
                            that preserving the environment begins with "house afforestation", if we know that
                            plants increase the percentage of oxygen in the air and helps to
                            improve the weather for the better. So, we will implement the website
                            that serve people to get the Seedlings by easy way and low cost.

                        </p>
                        <!-- <a style="color:white;"> Go To Events</a>-->
                    </div>
                </div>



            </div>

        </div>

    </div>




    <!-- Footer -->

</div>

